<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <!-- Main container which contains the form to register a company -->
    <div id="main-container">
        <!-- Heading -->
        <div id="register-logo">
            <h1>Register Your Company</h1>
            <img src="https://cdn-icons-png.flaticon.com/128/3490/3490884.png" alt="x">
        </div>
        <!-- Fill the form and register the company -->
        <form method="post">
    
            <input type="text" name="companyname" placeholder="Company Name" required>
            <input type="text" name="name" placeholder="Admin Name" required>
            <input type="email" name="email" placeholder="Admin Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confPass" placeholder="Confirm Password" required>
            <input type="text" name="companyDescription" placeholder="Type of Company (About Your Company...)">
            <!-- <textarea name="companyDescription" cols="30" rows="5" placeholder="Type of Company (About Your Company...)"></textarea> -->
            <button formaction="/admin/createCompany">Register Company</button>
        </form>
        <!-- Navigate backk if you don't want to register -->
        <div id="go-back">
            <p>Already have a company or don't want to register..!</p>
            <button><a href="/">Sign In</a></button>
        </div>
    </div>
    <%- include('noty');%>
</body>
</html>