<h1>register ...!</h1>

<form method="post">

    <input type="text" name="companyname" placeholder="Company Name" required>
    <input type="text" name="name" placeholder="Admin Name" required>
    <input type="email" name="email" placeholder="Admin mail" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="password" name="confPass" placeholder="Confirm Password" required>
    <input type="text" name="companyDescription" placeholder="Type of Company (About Your Company...)">
    <!-- <textarea name="companyDescription" cols="30" rows="5" placeholder="Type of Company (About Your Company...)"></textarea> -->
    <button formaction="/admin/createCompany">Register Company</button>
</form>