<div id="header-div">

    <%if(locals.user){%>
        <a href="/user/home">Home</a>
        <a href="/admin/adminPage">Admin Page</a>
        <a href="/user/signout">Sign Out</a>    
        <%if(locals.user.empType == 'admin'){%>
            <a href="/user/signuppage">Add Emp</a>
        <%}%>
    <%}else{%>
        <a href="/">Sign In</a>
        <a href="/user/signuppage">Sign Up</a>
        <a href="/admin/registerCompany">Register Company</a>    
    <%}%>
    
</div>