<div id="header-div">

    <%if(locals.user){%>
        <a href="/user/signout">Sign Out</a>    
    <%}else{%>
        <a href="/user/signinpage">Sign In</a>
        <a href="/user/signuppage">Sign Up</a>
        <a href="/admin/registerCompany">Register Company</a>    
    <%}%>
    
</div>