<h1>sign in page</h1>

<form method="post">

    <input type="email" name="email" placeholder="Username or Email">
    <input type="password" name="password" placeholder="Password">
    <button formaction="/user/signin">Sign In</button>
</form>
