<h1>signup...!</h1>

<form method="post">

    <input type="text" name="name" placeholder="Enter Your Name...!" required>
    <input type="email" name="email" placeholder="Enter Your Email...!" required>
    <input type="password" name="password" placeholder="Enter Your Password" required>
    <input type="password" name="confPass" placeholder="Confirm Password" required>
    <%if(!locals.user) { %>
        <select name="empcompany" >
            <option>Select Your Company</option>
            <%for(company of AllCompanies){%>
                <option value="<%= company.id%>"><%= company.companyname%></option>
            <%}%>
        </select>
    <% } %>
    
    
    <button formaction="/user/createUser">Sign Up</button>
</form>