body{
    margin: 0px;
}
/* Adding Style to header Div where You have options to navigate between pages */
#header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(119, 138, 126);
    
}
/* Styling header buttons */
/* #header-div button{
    padding: 3%;
    width: 30%;
    border: none;
} */
/* Adding style to buttons in header element */
#header-div a{
    text-decoration: none;
    padding: 2%;
    width: 28%;
    font-style: italic;
    font-weight: bold;
    background-color: orange;
    color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-element{
    width: 20%;
    padding: 1.4%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header-left{
    margin-left: 2%;
}

#header-right{
    margin-right: 2%;
}
/* Styling the Image for signout */
#signout{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Styling the image in header element */
#header-right img{
    width: 30%;
    height: 30%;
}

/* Styling Employuee Info */
#Employee-Info{
    margin:0 1% 0 1% ;
    border-bottom: 2px solid gray;
    padding: 1%;
}
/* Adding style to feed back section */
#ask-Reviews{
    margin:0 1% 0 1% ;
    border-bottom: 2px solid gray;
    padding: 1%;
    height: 180px;
    overflow-y: auto;
}
/* Adding Style to UL */
#ask-Reviews ul{
    list-style: decimal;
}

form{
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4%;
    margin-top: 0.7%;
    width: 30%;
}
form:hover{
    transition: 1s;
    box-shadow: 1px 1px 20px 10px lightblue;
}
form p{
    margin-left: 3%;
}
form button{
    margin-right: 6%;
    width: 40%;
    padding:2% ;
    background-color: orange;
    border: none;
    outline: none;
    font-weight: bold;
    font-style: italic;
    color: beige;
}

/* Adding style to review received */
#review-received{
    margin:0 1% 0 1% ;
    height: 250px;
    overflow-y: auto;
}
#review-received ul{
    list-style: decimal;
}
#review-received li{
    border: 1px solid black;
    padding: 0 3% 0 3%;
    margin: 0.5% 0 0.5% 0;
}